.container {
    max-width: 800px;
    border-bottom: solid thin black;
}

p {
    border: solid thin black;
    border-bottom: 0;
    margin: 0 auto;
    padding: 20px;
}

p:hover {
    background-color: orangered;
    cursor: pointer;
}